{% extends 'layout.html' %}

{% block body %}
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Our Solution</h1>
    <div class="row center">
      <h5 class="header col s12 light">Get started and discover our app which describe the position in the neighborhood of an object described by its coordinates.
      </h5>
    </div>
    <div class="row center">
      <a href="./solution_uni" id="download-button" class="btn-large waves-effect waves-light orange">One object solution</a>
    </div>
    <div class="row center">
      <a href="./solution_multi" id="download-button" class="btn-large waves-effect waves-light orange">Two objects solution</a>
    </div>
    <br><br>

  </div>
</div>




{% endblock %}
